@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCHIMBARE: Fundal deschis, Text închis */
body {
    background-color: #f5f5f5;
    color: #111111;
    font-family: 'Inter', sans-serif; /* Sau fontul tău */
    overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #FF4D00;
}